@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Abril Fatface', cursive;
  height: 100vh;
  background-color: #FED2CF;
}
.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  height: 100%;
  padding: 0 3rem;
}
h1 {
  position: absolute;
  bottom: 100px;
  font-size: 3em;
  letter-spacing: .8em;
  z-index: 10;
}
.txt-type > .txt {
  border-right: 0.2rem solid red
}
.box {
  width: 150px;
  height: 150px;
  position: absolute;
}
.box-white {
  bottom: 120px;
  right: 350px;
  background-color:  #fcdee3;
  border-radius: 50%;
}
.box-blue {
  bottom: 200px;
  right: 400px;
  background-color: #2a14f2;
}
.box-grey {
  top: 100px;
  right: 183px;
  background-color: #666;
}
.line {
  position: absolute;
  height: 500px;
  width: 2px;
  background-color: red;
  z-index: -1;
}
.line-1 {
  top: 50px;
  right: 250px;
}
.line-2 {
  top: 50px;
  right: 225px;
}
.line-3 {
  top: 50px;
  right: 200px;
}
.line-4 {
  top: 50px;
  right: 175px;
}
.line-5 {
  top: 50px;
  right: 150px;
}





